// Include this mixin to standardize inputs
// of type text, password, url, etc.
@mixin normalize-text-input {
    border: 1px solid #ccc;
    @include border-radius(.2em);
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.1));
    color: inherit;
    font-family: inherit;
    font-size: 1.2em;
    margin: 0;
    padding: .4em .5em;
    @include transition(
        border-color .1s linear,
        box-shadow .1s linear
    );
    &:focus {
        border-color: #66afe9;
        @include box-shadow(
            inset 0 1px 1px rgba(0,0,0,.1),
            0 0 4px #66afe9
        );
        outline: 0;
    }
}


@mixin normalize-submit-input {
    border: 0;
    @include border-radius(.2em);
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    padding: .2em .4em;
    @include transition(box-shadow .1s linear);
    &:focus {
        @include box-shadow(0 0 4px #66afe9);
        outline: 0;
    }
}